<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather_icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="main-content">

        {{>header}}
        <p>This site was created by Rishabh Singh. It makes use of Geocode and Weather api!</p>
        <img class="portrait" src="/img/weather_logo.png">

    </div>
    {{>footer}}
</body>

</html>